<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        <title>{% block title %}Shopping Cart System!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon1.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            {% if app.user %}
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shopping Cart System</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/products/show">Products</a></li>
                <li><a href="/products/add">Add Product</a></li>
                <li><a href="/user/{{ app.user.id }}">My Profile</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                        <li><a href="/category/add">Add Category</a></li>
                        {% endif %}
                        <li><a href="/categories/show">List Of Categories</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">My Cart</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>   Logout</a></li>
            </ul>
            {% else %}
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Shopping Cart System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
        {% endif %}
    </nav>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <hr>
    <div class="well">
    <footer class="text-center mainFooter">
        <div>
            <p>Shopping Cart System © 2017, No Rights Reserved
                <br>
                <span>Created By: Rumen Panchev</span>
            </p>
            <p>
                <a href="https://github.com/panchev97/Shopping-Cart-System" target="_blank">
                    GitHub Project Link <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </footer>
    </div>
    </body>
</html>
