# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    encoders:
            # Our user class and the algorithm we'll use to encode passwords
            # http://symfony.com/doc/current/book/security.html#encoding-the-user-s-password
            AppBundle\Entity\User: bcrypt
    # http://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        our_db_provider:
              entity:
                 class: AppBundle:User
                 property: email

    firewalls:

        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            provider: our_db_provider
            remember_me:
                            secret:   '%secret%'
                            lifetime: 604800 # 1 week in seconds
            form_login:
                        login_path: our_login
                        check_path: our_login
                        require_previous_session: false


                        username_parameter: _email
                        password_parameter: _password
            logout:
                        path: /logout
                        target: /login
# activate different ways to authenticate

            # http://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
            #form_login: ~
